:root {
    --bs-dark-rgb: 33,33,33;
    --bs-primary-rgb: 0,146,102;
    --bs-accordion-btn-focus-border-color: #009166;
    --color-accordion: #222;
    --bs-accordion-active-bg: --bs-primary-bg-subtle !important;
    --bs-accordion-active: --bs-primary-bg-subtle !important;
}

body {
    background-color: rgba(33,33,33,1);
    font-family: "Roboto";
    color: #bfbfbf;
}

img, object {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.navbar {
    /* background-color: #222; */
    font-family: "Asap";
    /* color: whitesmoke; */
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.accordion {
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
    --bs-accordion-active: var(--bs-primary-bg-subtle);

}

.accordion-button:not(.collapsed) {
    background-color: var(--color-accordion) !important;
}

.accordion-item {
    border: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

[data-bs-theme=dark] .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23009166'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23009166'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-next {
    right: -6rem;
}

.carousel-control-prev {
    left: -6rem;
}

.nice {
    background-image: url('../img/ph_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    border: none;
}
